section#clients.clients

	.title.title_bgc_orange Клиенты

	.clients-container


		.clients__item
			.clients__logo.clients__logo_type_mumu

		.clients__item
			.clients__logo.clients__logo_type_wokker

		.clients__item
			.clients__logo.clients__logo_type_ap

		.clients__item.clients__item_width_320
			.clients__logo.clients__logo_type_kp

		.clients__item
			.clients__logo.clients__logo_type_qiwi

		.clients__item.clients__item_width_1000
			.clients__logo.clients__logo_type_fb

		.clients__item.clients__item_width_320
			.clients__logo.clients__logo_type_fh

		.clients__item
			.clients__logo.clients__logo_type_peugeot

		.clients__item.clients__item_width_1600
			.clients__logo.clients__logo_type_chocolate

		.clients__item.clients__item_width_320
			.clients__logo.clients__logo_type_star

		.clients__item.clients__item_width_1000
			.clients__logo.clients__logo_type_zvooq

		.clients__item
			.clients__logo.clients__logo_type_spartak

		.clients__item.clients__item_width_320
			.clients__logo.clients__logo_type_hsad

		.clients__item
			.clients__logo.clients__logo_type_infiniti

		.clients__item
			.clients__logo.clients__logo_type_huggies

		.clients__item.clients__item_height_0
