footer.footer

	.footer__partner
		.footer__partner-text Сертифицированный партнёр
		a.footer__logo.footer__logo_color_yellow(href="https://www.yandex.ru/")
			.footer__yandex

		a.footer__logo.footer__logo_color_light-blue(href="https://www.google.ru/")
			.footer__google

		a.footer__logo.footer__logo_color_blue(href="https://www.vk.com/")
			.footer__vk

	.footer__copy
		a.footer__copy-logo(href=jv0) 24ttl
		.footer__copy-est
			span est.
			= " "
			span.footer__copy_font_reg 2007
		.footer__copy-law Все права защищены. Москва 2015
