section#keises.keises

	.title Кейсы

	.keises__slider.swiper-container.js-slider-close

		.swiper-wrapper

			.swiper-slide
				.keises__slide-item.keises__slide-item_pos_tl.js-keise-open(data-index=0)
					include ../blocks/keises/starlight
				.keises__slide-item.keises__slide-item_pos_tr.js-keise-open(data-index=1)
					include ../blocks/keises/plastinina
				.keises__slide-item.keises__slide-item_pos_bl.js-keise-open(data-index=2)
					include ../blocks/keises/spartak
				.keises__slide-item.keises__slide-item_pos_br.js-keise-open(data-index=3)
					include ../blocks/keises/infiniti

			.swiper-slide
				.keises__slide-item.keises__slide-item_pos_tl.js-keise-open(data-index=4)
					include ../blocks/keises/triobar
				.keises__slide-item.keises__slide-item_pos_tr.js-keise-open(data-index=5)
					include ../blocks/keises/peugeot
				.keises__slide-item.keises__slide-item_pos_bl.js-keise-open(data-index=6)
					include ../blocks/keises/mumu
				.keises__slide-item.keises__slide-item_pos_br.js-keise-open(data-index=7)
					include ../blocks/keises/timole

			//.swiper-slide
				.keises__slide-item.keises__slide-item_pos_tl.js-keise-open(data-index=0)
					include ../blocks/keises/wokker
				.keises__slide-item.keises__slide-item_pos_br.js-keise-open(data-index=11)
					include ../blocks/keises/cordzero
				.keises__slide-item.keises__slide-item_pos_tr.js-keise-open(data-index=1)
					include ../blocks/keises/dillers
				.keises__slide-item.keises__slide-item_pos_bl.js-keise-open(data-index=2)
					include ../blocks/keises/internet

			//.swiper-slide
				.keises__slide-item.keises__slide-item_pos_tl.js-keise-open(data-index=12)
					include ../blocks/keises/dusoleil
				.keises__slide-item.keises__slide-item_pos_tr.js-keise-open(data-index=13)
					include ../blocks/keises/exppage
				.keises__slide-item.keises__slide-item_pos_br.js-keise-open(data-index=15)
					include ../blocks/keises/exppagetv
				.keises__slide-item.keises__slide-item_pos_br.js-keise-open(data-index=3)
					include ../blocks/keises/azbuka

	.keises__open.swiper-container.js-slider-open

		.swiper-wrapper

			.swiper-slide
				.keises__open-item
					include ../blocks/keises-open/starlight

			.swiper-slide
				.keises__open-item
					include ../blocks/keises-open/plastinina

			.swiper-slide
				.keises__open-item
					include ../blocks/keises-open/spartak

			.swiper-slide
				.keises__open-item
					include ../blocks/keises-open/infiniti

			.swiper-slide
				.keises__open-item
					include ../blocks/keises-open/triobar

			.swiper-slide
				.keises__open-item
					include ../blocks/keises-open/peugeot

			.swiper-slide
				.keises__open-item
					include ../blocks/keises-open/mumu

			.swiper-slide
				.keises__open-item
					include ../blocks/keises-open/timole

			//.swiper-slide
				.keises__open-item
					include ../blocks/keises-open/wokker

			//.swiper-slide
				.keises__open-item
					include ../blocks/keises-open/dillers

			//.swiper-slide
				.keises__open-item
					include ../blocks/keises-open/internet

			//.swiper-slide
				.keises__open-item
					include ../blocks/keises-open/azbuka

			//.swiper-slide
				.keises__open-item
					include ../blocks/keises-open/cordzero

			//.swiper-slide
				.keises__open-item
					include ../blocks/keises-open/dusoleil

			//.swiper-slide
				.keises__open-item
					include ../blocks/keises-open/exppage

			//.swiper-slide
				.keises__open-item
					include ../blocks/keises-open/exppagetv

	.keises__open-prev.js-keise-button.js-keise-prev
	.keises__open-next.js-keise-button.js-keise-next

	.keises__pagination.js-keise-pag
