section#map.map

	.map-wrap.js-map-text
		.map__icon
		.map__title Карта
		.map__address
			| Moscow,
			br
			| 4th Tverskaya-13

		.map__btn.js-map-open Посмотреть

	#mapPlan.map__plan.js-map-plan
	.map__bg.js-map-bg
