.menu#mainMenu
	.menu__btn-close.js-menu-close(role="button")
	.menu__lang
		.menu__lang-item eng
		.menu__lang-item han

	nav
		ul.menu__nav

			li.menu__nav-item
				a.menu__nav-link.js-menu-anchor(href="#about") О кампании

			li.menu__nav-item
				a.menu__nav-link.js-menu-anchor(href="#services") Услуги

			li.menu__nav-item
				a.menu__nav-link.js-menu-anchor(href="#clients") Клиенты

			li.menu__nav-item
				a.menu__nav-link.js-menu-anchor(href="#keises") Кейсы

			li.menu__nav-item
				a.menu__nav-link.js-menu-anchor(href="#tools") Инструменты

			li.menu__nav-item
				a.menu__nav-link.js-menu-anchor(href="#vacansies") Вакансии

			li.menu__nav-item
				a.menu__nav-link.js-menu-anchor(href="#map") Карта

	.menu__contacts
		.menu__icons
			a.menu__icon.menu__icon_vk(href=jv0)
			a.menu__icon.menu__icon_fb(href=jv0)
			a.menu__icon.menu__icon_tw(href=jv0)
			a.menu__icon.menu__icon_g(href=jv0)

		.menu__contacts-item
			a.menu__contacts-link(href="mailto: 24ttl@24ttl.ru") 24ttl@24ttl.ru

		.menu__contacts-item
			a.menu__contacts-link(href="tel: +7 (495) 772-85-69") +7 (495) 772-85-69
