section#tools.tools

	.title Технологии

	.tools-container
		.tools__slider.swiper-container
			.swiper-wrapper

				//.swiper-slide
					.tools__slide
						img(src="assets/images/tools/git.jpg")

				//.swiper-slide
					.tools__slide
						img(src="assets/images/tools/indesign.jpg")

				//.swiper-slide
					.tools__slide
						img(src="assets/images/tools/sql.jpg")

				//.swiper-slide
					.tools__slide
						img(src="assets/images/tools/ubuntu.jpg")

				//.swiper-slide
					.tools__slide
						img(src="assets/images/tools/redis.jpg")

				//.swiper-slide
					.tools__slide
						img(src="assets/images/tools/compass.jpg")

				.swiper-slide
					.tools__slide
						img(src="assets/images/tools/html5.jpg")

				.swiper-slide
					.tools__slide
						img(src="assets/images/tools/css3.jpg")

				.swiper-slide
					.tools__slide
						img(src="assets/images/tools/android.jpg")

				.swiper-slide
					.tools__slide
						img(src="assets/images/tools/ios.jpg")

				.swiper-slide
					.tools__slide
						img(src="assets/images/tools/smarttv.jpg")

				.swiper-slide
					.tools__slide
						img(src="assets/images/tools/bitrix.jpg")

				//.swiper-slide
					.tools__slide
						img(src="assets/images/tools/illustrator.jpg")


	.tools__slider-prev.js-tools-prev
	.tools__slider-next.js-tools-next
