.keise-open

	.keise-open__info.keise-open__info_color_orange.left
		.keise-open__logo.keise-open__logo_type_infiniti
		.keise-open__close.js-keise-close
		.keise-open__title
			| Клуб поклонников
			br
			| инфинити в Фейсбук

		p.keise-open__text
			| Компания “Infiniti” приняла стратегическое решение развивать свое
			| присутствие в&nbp;социальных сетях и&nbp;доверила нам&nbp;создание брендированного
			| сообщества в&nbp;Facebook. Основной задачей было представить бренд в&nbp;
			| соответствии с&nbp;его&nbp;уровнем, ожиданиями ЦА&nbp;и&nbp;достойно
			| выступить на&nbp;фоне конкурентов, перехватив часть их&nbp;аудитории.

		p.keise-open__text
			| В крайне сжатые сроки мы запустили «Инфинити клуб Россия», в&nbp;рамках
			| которого смогли успешно интегрировать весь модельный ряд, а&nbp;также
			| провести конкурсную активность, встретив на&nbp;одной площадке счастливых
			| владельцев данной марки и&nbp;ее&nbp;потенциальных покупателей.

		.keise-open__pagination

	#infinitiSlider.keise-open__slider.swiper-container

		.swiper-wrapper

			.swiper-slide
				img.keise-open__img(src="assets/images/content/infiniti-slide1.jpg")
				.keise-open__note
					| Пример подписи

			.swiper-slide
				img.keise-open__img(src="assets/images/content/infiniti-slide2.jpg")
				.keise-open__note
					| Пример подписи

			.swiper-slide
				img.keise-open__img(src="assets/images/content/infiniti-slide3.jpg")
				.keise-open__note
					| Пример подписи

			.swiper-slide
				img.keise-open__img(src="assets/images/content/infiniti-slide4.jpg")
				.keise-open__note
					| Пример подписи

			.swiper-slide
				img.keise-open__img(src="assets/images/content/infiniti-slide5.jpg")
				.keise-open__note
					| Пример подписи
