.keise-open

	.keise-open__info.keise-open__info_color_green.left
		.keise-open__logo.keise-open__logo_type_mumu
		.keise-open__close.js-keise-close
		.keise-open__title
			| Доставка от Му-Му в Фейсбуке

		p.keise-open__text
			| Как повысить продажи у&nbsp;крупной сети питания? Для компании «Му-Му»
			| мы&nbsp;разработали и&nbsp;запустили Приложение в&nbsp;Facebook, позволяющее делать
			| заказы по-настоящему вкусной домашней еды, не&nbsp;отрываясь от&nbsp;общения
			| в&nbsp;популярной социальной сети.

		p.keise-open__text
			| В рамках проекты мы проинтегрировались с&nbsp;существующими системами
			| выбора меню и&nbsp;доставки заказов, предложили интересные дизайн-решения
			| и&nbsp;снискали популярность не&nbsp;только у&nbsp;завсегдатаев, но&nbsp;и&nbsp;редких гостей
			| сети кафе «Му-Му».

		.keise-open__pagination

	#mumuSlider.keise-open__slider.swiper-container

		.swiper-wrapper

			.swiper-slide.keise-open__slide
				img.keise-open__img(src="assets/images/content/mumu-slide1.jpg")
				.keise-open__note
					| Пример подписи

			.swiper-slide.keise-open__slide
				img.keise-open__img(src="assets/images/content/mumu-slide2.jpg")
				.keise-open__note
					| Пример подписи

			.swiper-slide.keise-open__slide
				img.keise-open__img(src="assets/images/content/mumu-slide3.jpg")
				.keise-open__note
					| Пример подписи

			.swiper-slide.keise-open__slide
				img.keise-open__img(src="assets/images/content/mumu-slide4.jpg")
				.keise-open__note
					| Пример подписи
