.keise-open

	.keise-open__info.keise-open__info_color_blue.left
		.keise-open__logo.keise-open__logo_type_peugeot
		.keise-open__close.js-keise-close
		.keise-open__title.keise-open__title_peugeot
			| Страница входа, конкурс, каталог
			br
			| на Facebook для Peugeot Scooters,
			br
			| а так же другие социальные сети

		p.keise-open__text
			| Представительство компании Peugeot, а&nbsp;именно подразделение Скутеры,
			| решило привлечь дополнительное внимание к&nbsp;марке, за&nbsp;счет проведением
			| интеллектуального конкурса на&nbsp;Facebook, с&nbsp;информационной поддержкой
			| в&nbsp;Твиттере, ЖЖ и&nbsp;Вконтакте. Мы разработали специальную страницу входа,
			| помогли с&nbsp;проведение самого конкурса и&nbsp;разработали каталог всех моделей
			| в&nbsp;виде приложения.

		.keise-open__pagination

	#peugeotSlider.keise-open__slider.swiper-container

		.swiper-wrapper

			.swiper-slide.keise-open__slide
				img.keise-open__img(src="assets/images/content/peugeot-slide1.jpg")
				.keise-open__note
					| Пример подписи

			.swiper-slide.keise-open__slide
				img.keise-open__img(src="assets/images/content/peugeot-slide2.jpg")
				.keise-open__note
					| Пример подписи

			.swiper-slide.keise-open__slide
				img.keise-open__img(src="assets/images/content/peugeot-slide3.jpg")
				.keise-open__note
					| Пример подписи

			.swiper-slide.keise-open__slide
				img.keise-open__img(src="assets/images/content/peugeot-slide4.jpg")
				.keise-open__note
					| Пример подписи
