.keise-open

	.keise-open__info.keise-open__info_color_pink.left
		.keise-open__logo.keise-open__logo_type_plastinina
		.keise-open__close.js-keise-close
		.keise-open__title
			| Вирусный конкурс для
			br
			| Киры Пластининой на Facebook

		p.keise-open__text
			| Страница Киры Пластининой на&nbsp;Facebook развивалась стабильно, но&nbsp;
			| темпы роста поклонников и&nbsp;их&nbsp;активность нужно было увеличить. Мы
			| предложили сделать конкурс с&nbsp;простой механикой: сфотографируйся в&nbsp;
			| одежде от &nbsp;Киры, тот кто наберет наибольшее число Лайков, станет
			| победителем, но с помощью специального приложения мы добавили этому
			| конкурсу эффективности, за счет того, что голосовать за участников
			| конкурса могли только поклонники, тем самым мы мотивировали участников
			| приглашать своих друзей проголосовать за них и&nbsp;то&nbsp;же&nbsp;становиться
			| поклонниками Киры. Помимо конкурса в&nbsp;приложении мы сделали несколько
			| полезных разделов: Что с&nbsp;чем носить, Коллекции, Журнал, Видео блог,
			| Карта Магазинов и&nbsp;более подробная информация о&nbsp;Кире. За полгода
			| данный конкурс помог увеличить число поклонников с 1200 до 10000
			| человек.

		.keise-open__pagination

	#plastininaSlider.keise-open__slider.swiper-container

		.swiper-wrapper

			.swiper-slide.keise-open__slide
				img.keise-open__img(src="assets/images/content/plastinina-slide1.jpg")
				.keise-open__note
					| Призыв залайкать

			.swiper-slide.keise-open__slide
				img.keise-open__img(src="assets/images/content/plastinina-slide2.jpg")
				.keise-open__note
					| Условия конкурса

			.swiper-slide.keise-open__slide
				img.keise-open__img(src="assets/images/content/plastinina-slide3.jpg")
				.keise-open__note
					| Каталог одежды по коллекциям

			.swiper-slide.keise-open__slide
				img.keise-open__img(src="assets/images/content/plastinina-slide4.jpg")
				.keise-open__note
					| Подробная информация о Кире

			.swiper-slide.keise-open__slide
				img.keise-open__img(src="assets/images/content/plastinina-slide5.jpg")
				.keise-open__note
					| Карта всех магазинов
