.keise-open

	.keise-open__info.keise-open__info_color_red.left
		.keise-open__logo.keise-open__logo_type_spartak
		.keise-open__close.js-keise-close
		.keise-open__title.keise-open__title_peugeot
			| Новый логотип ,сайт и фирменный
			br
			| стиль ЖБК «Спартак»

		p.keise-open__text
			| Рыбный текст. Представительство компании Peugeot, а именно подразделение
			| Скутеры, решило привлечь дополнительное внимание к марке, за счет
			| проведением интеллектуального конкурса на Facebook, с информационной
			| поддержкой в Твиттере, ЖЖ и Вконтакте. Мы разработали специальную
			| страницу входа, помогли с проведение самого конкурса и разработали
			| каталог всех моделейв виде приложения. Рыбный текст.


		.keise-open__pagination

	#spartakSlider.keise-open__slider.swiper-container

		.swiper-wrapper

			.swiper-slide.keise-open__slide
				img.keise-open__img(src="assets/images/content/spartak-slide1.jpg")
				.keise-open__note
					| Пример подписи

			.swiper-slide.keise-open__slide
				img.keise-open__img(src="assets/images/content/spartak-slide2.jpg")
				.keise-open__note
					| Пример подписи

			.swiper-slide.keise-open__slide
				img.keise-open__img(src="assets/images/content/spartak-slide3.jpg")
				.keise-open__note
					| Пример подписи

			.swiper-slide.keise-open__slide
				img.keise-open__img(src="assets/images/content/spartak-slide4.jpg")
				.keise-open__note
					| Пример подписи

			.swiper-slide.keise-open__slide
				img.keise-open__img(src="assets/images/content/spartak-slide5.jpg")
				.keise-open__note
					| Пример подписи

			.swiper-slide.keise-open__slide
				img.keise-open__img(src="assets/images/content/spartak-slide6.jpg")
				.keise-open__note
					| Пример подписи

			.swiper-slide.keise-open__slide
				img.keise-open__img(src="assets/images/content/spartak-slide7.jpg")
				.keise-open__note
					| Пример подписи

			.swiper-slide.keise-open__slide
				img.keise-open__img(src="assets/images/content/spartak-slide8.jpg")
				.keise-open__note
					| Пример подписи

			.swiper-slide.keise-open__slide
				img.keise-open__img(src="assets/images/content/spartak-slide9.jpg")
				.keise-open__note
					| Пример подписи
