.keise-open

	.keise-open__info.keise-open__info_color_purple.left
		.keise-open__logo.keise-open__logo_type_starlight
		.keise-open__close.js-keise-close
		.keise-open__title
			| Сайт для сети старлайт бургер

		p.keise-open__text
			| Иногда желание полакомиться настоящим, космически вкусным бургером
			| возникает совершенно спонтанно и&nbsp;застает в&nbsp;самом невозможном месте
			| и&nbsp;времени суток. Специально для того, чтобы каждый мог утолить свой
			| голод, да&nbsp;еще выбрав свои любимые ингредиенты, компания «Старлайт&nbsp;Бургер»
			| вместе с&nbsp;нами решила запустить сайт «Старлайт&nbsp;Экспресс&nbsp;Бургер»
			| по&nbsp;приготовлению и&nbsp;доставке блюд из&nbsp;своего меню.

		p.keise-open__text
			| Мы сделали сайт максимально сочным и&nbsp;шипящим маслом, не&nbsp;забыв про&nbsp;
			| обязательную адаптивность под&nbsp;самые маленькие планшеты и&nbsp;мобильные
			| устройства, чтобы всегда быть полезными Клиентам сети «Старлайт&nbsp;Бургер».

		.keise-open__pagination

	#starlightSlider.keise-open__slider.swiper-container

		.swiper-wrapper

			.swiper-slide.keise-open__slide
				img.keise-open__img(src="assets/images/content/starlight-slide1.jpg")
				.keise-open__note
					| Пример подписи

			.swiper-slide.keise-open__slide
				img.keise-open__img(src="assets/images/content/starlight-slide2.jpg")
				.keise-open__note
					| Пример подписи

			.swiper-slide.keise-open__slide
				img.keise-open__img(src="assets/images/content/starlight-slide3.jpg")
				.keise-open__note
					| Пример подписи

			.swiper-slide.keise-open__slide
				img.keise-open__img(src="assets/images/content/starlight-slide4.jpg")
				.keise-open__note
					| Пример подписи

			.swiper-slide.keise-open__slide
				img.keise-open__img(src="assets/images/content/starlight-slide5.jpg")
				.keise-open__note
					| Пример подписи

			.swiper-slide.keise-open__slide
				img.keise-open__img(src="assets/images/content/starlight-slide6.jpg")
				.keise-open__note
					| Пример подписи
