.keise-open

	.keise-open__info.keise-open__info_color_red.left
		.keise-open__logo.keise-open__logo_type_timole
		.keise-open__close.js-keise-close
		.keise-open__title
			| Фирменный стиль и сайт
			br
			| компании timole

		p.keise-open__text
			| В декабре 2011 года на&nbsp;Международном форуме «Fashion House International»,
			| прошедшем в&nbsp;г.Санья (Китай), среди таких стран-участниц, как Бельгия,
			| Казахстан, КНР, Украина, Франция, Япония, Греция и Россия, компания
			| Timole завоевала 1-е&nbsp;место в&nbsp;номинациях «Лучший дизайн года» и&nbsp;
			| «Самая стильная школьная коллекция 2011г», а&nbsp;в&nbsp;марте мы с&nbsp;огромной
			| радостью запустили лучший сайт по&nbsp;продаже детской одежды timole.ru

		.keise-open__pagination

	#timoleSlider.keise-open__slider.swiper-container

		.swiper-wrapper

			.swiper-slide.keise-open__slide
				img.keise-open__img(src="assets/images/content/timole-slide1.jpg")

			.swiper-slide.keise-open__slide
				img.keise-open__img(src="assets/images/content/timole-slide2.jpg")
				.keise-open__note
					| Синтез знака бесконечности и бантика
					br
					| дал миру «Бесконечное детство»

			.swiper-slide.keise-open__slide
				img.keise-open__img(src="assets/images/content/timole-slide3.jpg")
				.keise-open__note
					| Пример оформления печатной рекламы

			.swiper-slide.keise-open__slide
				img.keise-open__img(src="assets/images/content/timole-slide4.jpg")

			.swiper-slide.keise-open__slide
				img.keise-open__img(src="assets/images/content/timole-slide5.jpg")
				.keise-open__note
					| Корпоративная, персональная визитки Тимоли
					br
					| и диск с презентацией компании

			.swiper-slide.keise-open__slide
				img.keise-open__img(src="assets/images/content/timole-slide6.jpg")

			.swiper-slide.keise-open__slide
				img.keise-open__img(src="assets/images/content/timole-slide7.jpg")

			.swiper-slide.keise-open__slide
				img.keise-open__img(src="assets/images/content/timole-slide8.jpg")

			.swiper-slide.keise-open__slide
				img.keise-open__img(src="assets/images/content/timole-slide9.jpg")

			.swiper-slide.keise-open__slide
				img.keise-open__img(src="assets/images/content/timole-slide10.jpg")
