.keise-open

	.keise-open__info.keise-open__info_color_orange.left
		.keise-open__logo.keise-open__logo_type_triobar
		.keise-open__close.js-keise-close
		.keise-open__title
			| Сайт и реклама для ТриоБара

		p.keise-open__text
			| ТриоБар — это iPhone среди кулеров, один раз попробуешь и&nbsp;больше
			| не&nbsp;захочется: фильтровать воду, кипятить, ждать пока остынет и&nbsp;т.&nbsp;д.
			| Очень удобная штука, для которой мы пол-лета и&nbsp;пол-осени делали сайт,
			| снимали ролики и&nbsp;делали дизайн рекламной продукции.


		.keise-open__pagination

	#triobarSlider.keise-open__slider.swiper-container

		.swiper-wrapper

			.swiper-slide.keise-open__slide
				img.keise-open__img(src="assets/images/content/triobar-slide1.jpg")
				.keise-open__note
					| Пример подписи

			.swiper-slide.keise-open__slide
				img.keise-open__img(src="assets/images/content/triobar-slide2.jpg")
				.keise-open__note
					| Пример подписи

			.swiper-slide.keise-open__slide
				img.keise-open__img(src="assets/images/content/triobar-slide3.jpg")
				.keise-open__note
					| Пример подписи

			.swiper-slide.keise-open__slide
				img.keise-open__img(src="assets/images/content/triobar-slide4.jpg")
				.keise-open__note
					| Пример подписи

			.swiper-slide.keise-open__slide
				img.keise-open__img(src="assets/images/content/triobar-slide5.jpg")
				.keise-open__note
					| Пример подписи
