.keise-open

	.keise-open__info.keise-open__info_color_red.left
		.keise-open__logo.keise-open__logo_type_wokker
		.keise-open__close.js-keise-close
		.keise-open__title
			| Развитие онлайн сервисов

		p.keise-open__text
			| Рыбный текст. Представительство компании Peugeot, а именно подразделение
			| Скутеры, решило привлечь дополнительное внимание к марке, за счет
			| проведением интеллектуального конкурса на Facebook, с информационной
			| поддержкой в Твиттере, ЖЖ и Вконтакте.

		p.keise-open__text
			| Мы разработали специальную
			| страницу входа, помогли с проведение самого конкурса и разработали
			| каталог всех моделейв виде приложения. Рыбный текст.


		.keise-open__pagination

	#wokkerSlider.keise-open__slider.swiper-container

		.swiper-wrapper

			.swiper-slide.keise-open__slide
				img.keise-open__img(src="")
				.keise-open__note
					| Пример подписи
