.keise.keise_color_green
	img.keise__img(src="assets/images/keises/azbuka.jpg")

	.keise-wrap
		.keise__logo.keise__logo_type_azbuka

	.keise__title.keise__title_pt_26
		| система заказов
		br
		| через социальные сети
