.keise.keise_color_blue
	img.keise__img(src="assets/images/keises/dillers.jpg")

	.keise-wrap
		.keise__logo.keise__logo_type_lg

	.keise__title.keise__title_pt_26
		| Система поиска
		br
		| ближайшего диллера
