.keise.keise_color_purple
	img.keise__img(src="assets/images/keises/dusoleil.jpg")

	.keise-wrap
		.keise__logo.keise__logo_type_lg

	.keise__title.keise__title_pt_37
		| Проект lg и cirque du&nbsp;soleil
