.keise.keise_color_red
	img.keise__img(src="assets/images/keises/exppagetv.jpg")

	.keise-wrap
		.keise__logo.keise__logo_type_lg

	.keise__title.keise__title_pt_37
		| Спецпроект
		br
		| experience page
