.keise.keise_color_green
	img.keise__img(src="assets/images/keises/mumu.jpg")

	.keise-wrap
		.keise__logo.keise__logo_type_mumu

	.keise__title.keise__title_pt_37
		| Доставка от Му-Му
		br
		| в Фейсбуке
