.keise.keise_color_blue
	img.keise__img(src="assets/images/keises/peugeot.jpg")

	.keise-wrap
		.keise__logo.keise__logo_type_peugeot

	.keise__title
		| Страница входа, конкурс, каталог
		br
		| на Facebook для Peugeot Scooters,
		br
		| а так же другие социальные сети
