.keise.keise_color_pink
	img.keise__img(src="assets/images/keises/plastinina.jpg")

	.keise-wrap
		.keise__logo.keise__logo_type_plastinina

	.keise__title.keise__title_pt_14
		| Вирусный конкурс
		br
		| для Киры Пластининой
		br
		| на Facebook
