.keise.keise_color_red
	img.keise__img(src="assets/images/keises/spartak.jpg")

	.keise-wrap
		.keise__logo.keise__logo_type_spartak

	.keise__title.keise__title_pt_14
		| Новый логотип, сайт
		br
		| и фирменный стиль
		br
		| ЖБК «Спартак»
