.keise.keise_color_purple
	img.keise__img(src="assets/images/keises/starlight.jpg")

	.keise-wrap
		.keise__logo.keise__logo_type_starlight

	.keise__title.keise__title_pt_37
		| сайт для сети
		br
		| старлайт бургер
