.keise.keise_color_red
	img.keise__img(src="assets/images/keises/timole.jpg")

	.keise-wrap
		.keise__logo.keise__logo_type_timole

	.keise__title.keise__title_pt_26
		| фирменный стиль и сайт
		br
		| компании timole
