.keise.keise_color_red
	img.keise__img(src="assets/images/keises/wokker.jpg")

	.keise-wrap
		.keise__logo.keise__logo_type_wokker

	.keise__title.keise__title_pt_37
		| Развитие
		br
		| онлайн-сервисов
