extends ../layouts/default

block head
	- pageTitle = '24ttl';
	- videoSrc = 'video/video2.mp4'

block content
	include ../blocks/menu
	//.note
		.note__text
			| Команда IT-специалистов в режиме 24/7 отвечает на самые разные,
			| нестандартные и&nbsp;сложные вызовы по&nbsp;созданию и&nbsp;обслуживанию веб-ресурсов,
			| формированию имиджа и&nbsp;повышению продаж. Только актуальные digital-технологии
			| и&nbsp;WOW-тренды.

	include ../blocks/service
	include ../blocks/clients
	include ../blocks/keises
	include ../blocks/tools
	include ../blocks/vacansies
	include ../blocks/map
