.vacansies

	&__file

		&:before
			top 22px
			margin-top 0

		&:after
			top 8px
			margin-top 0

	&__icon-close
		border none
		sprite($icon-doc-del)

		&:before
		&:after
			display none

	&__icon-doc
		border none
		sprite($icon-doc)

		&:before
		&:after
			display none
